In [37]:
import psycopg2
def connection(db_name, db_user,db_password,db_host,db_port):
    try:
        conn = psycopg2.connect(
            dbname=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port
        )
        print('Sucessfully connected to the database')
        return conn
    except Exception as e:
        print(e)
        return None
#create connection
params={
    "db_name": "class143",
    "db_user": "class143_owner",
    "db_password": 'BThOV0lZb3YU',
    "db_host": 'ep-holy-lab-a2xm39f8.eu-central-1.aws.neon.tech',
    "db_port": 5432
}
conn=connection(**params)
 
 
conn.autocommit=True

Sucessfully connected to the database

In [38]:
def execute_query(conn, query):
    try:
        cursor = conn.cursor()
        cursor.execute(query)
        return cursor
    
    except Exception as e:
        print(f"Error: {str(e)}")
        return None

In [39]:
query="SELECT * FROM cars"
results=execute_query(conn, query).fetchall()

for result in results:
    print(result)

(1, 'Mazda', 'Axela', 'Purple')
(2, 'Audi', 'Q7', 'Black')

In [41]:
def search(table,column):
    query=f"SELECT {column} FROM {table}"
    results=execute_query(conn, query).fetchall()
    return results

print(search('cars','make'))

[('Mazda',), ('Audi',)]